doctype
html.no-js
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title I'm Just The Messenger
        style.
            #root {
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
            }
        script(src='http://code.jquery.com/jquery-2.2.1.min.js')
        script(src="http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.min.js" charset="utf-8")
        script(src='/script.js')
        script.
            $(function() {
                var cy = cytoscape({
                    container: document.getElementById('root'),
                    boxSelectionEnabled: false,
                    autounselectify: true,
                    style: cytoscape.stylesheet()
                        .selector('node')
                          .css({
                            'content': 'data(id)',
                            'text-valign': 'center',
                            'color': 'white',
                            'text-outline-width': 2,
                            'text-outline-color': '#888'
                          })
                        .selector('edge')
                          .css({
                            'target-arrow-shape': 'triangle'
                          })
                        .selector(':selected')
                          .css({
                            'background-color': 'black',
                            'line-color': 'black',
                            'target-arrow-color': 'black',
                            'source-arrow-color': 'black'
                          })
                        .selector('.faded')
                          .css({
                            'opacity': 0.25,
                            'text-opacity': 0
                          }),
                    elements: graph,
                    layout: {
                        name: 'breadthfirst',
                        directed: true
                    }
                });
            });
    body
        #root
